* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Amatic SC", "sans-serif";
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: black;
  opacity: 0.6;
}

nav:hover {
  opacity: 1;
}

li {
  list-style-type: none;
  float: left;
  width: 99px;
  height: 45px;
  padding-top: 9px;
}

li a {
  padding-left: 21px;
  text-align: center;
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: #616161;
}

#home {
  background-image: url(./Image/Pizza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 119px;
  color: rgb(11, 11, 11);
  height: 510px;
}

#home h1 {
  font-size: 69px;
  font-weight: 90;
  margin-bottom: 55px;
  text-align: center;
}

#home button {
  height: 45px;
  font-size: 21px;
  border: none;
  background-color: black;
  color: white;
  margin-left: 41%;
  margin-bottom: 95px;
}

#home span {
  margin-left: 13px;
  text-align: left;
  background-color: black;
  color: white;
  font-size: 17px;
  padding: 9px;
}

#menu {
  width: 100%;
  height: auto;
  background-color: black;
  padding-top: 75px;
}

#menu h1 {
  font-size: 49px;
  font-weight: lighter;
  margin-bottom: 55px;
  text-align: center;
  color: white;
}

#mnu {
  max-width: 75%;
  margin: auto;
  border: 1px solid grey;
  width: auto;
}

#mnu button {
  min-width: 33.33%;
  float: left;
  height: 45px;
  background-color: black;
  color: white;
  border: none;
  font-size: 23px;
}

#mnu button:hover {
  background-color: rgb(141, 80, 80);
}

#mnu div{
  background-color: white;
  padding: 71px 21px 0 21px;
}

#mnu h2{
  display: inline;
}

#price{
  float: right;
  background-color: #616161;
  color: white;
  padding: 11px;
  border-radius: 5px;
}

#mnu h4{
  color: #757575;
  font-size: 20.3px;
  font-weight: 90;
}
