*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Amatic SC", "sans-serif";
}

#profile, #workexp, #education{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
