* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#profile {
  position: fixed;
  width: 39%;
  display: inline;
}

#profile img {
  width: 100%;
}

#menu {
  position: fixed;
  top: 21px;
  right: 13px;
  width: 3.7%;
  height: 7%;
  padding: 9px 7px 3px 7px;
  background-color: white;
}

#one,
#two,
#three {
  width: 100%;
  height: 15%;
  background-color: grey;
  border-radius: 5px;
}

#home {
  text-align: center;
}

main {
  width: 59%;
  padding-top: 175px;
  margin-left: 515px;
}

#home h1 {
  font-size: 69px;
  font-weight: 540;
  margin-bottom: 31px;
}

#home h3 {
  font-size: 16.5px;
  font-weight: 90;
}

button {
  margin-top: 31px;
  width: 25%;
  height: 43px;
  border: none;
  padding: 5px;
}

button:hover {
  background-color: rgb(215, 214, 214);
}

#portfolio {
  margin-top: 165px;
}

#portfolio h2 {
  color: grey;
  font-weight: 90;
  margin-bottom: 29px;
}

#i1 {
  width: 47%;
  float: left;
  margin-bottom: 19px;
}

#i2 {
  width: 47%;
  float: inline-end;
  margin-right: 19px;
  margin-bottom: 15px;
}

#i3 {
  width: 47%;
  float: left;
}

#i4 {
  width: 47%;
  float: inline-end;
  margin-right: 19px;
  margin-bottom: 15px;
}

#i5 {
  width: 47%;
  float: inline-end;
  margin-right: 19px;
  margin-bottom: 15px;
}

#i6 {
  width: 47%;
  float: left;
  margin-top: 15px;
}

#i7 {
  width: 47%;
  float: inline-end;
  margin-right: 19px;
  margin-bottom: 65px;
}
