*{
    box-sizing: border-box;
    margin: 0;
}

#profile{
    position: fixed;
    width:39%;
    height: 120vh
}

#profile img{
    width:100%;
}

#menu{
    position: fixed;
    top: 21px;
    right: 13px;
    width: 4%;
    height: 9%;
    background-color: black;
}
