*{
    box-sizing: border-box;
    margin: 0;
}

header img{
    max-width: 100%;
    height: auto;
}

#name{
    position: absolute;
    margin:-345px 37% 0 37%;
    text-align: center;
    border: 1px solid rgb(208, 208, 208);
    padding: 35px;
    color: white;
}

#name h2{
    font-size: 49px;
    margin-bottom: 11px;
}

#name h5{
font-size: 23px;
font-weight: 90;
}
