* {
  box-sizing: border-box;
  margin: 0;
}

header img {
  max-width: 100%;
  height: auto;
}

#name {
  position: absolute;
  margin: -345px 37% 0 37%;
  text-align: center;
  border: 1px solid rgb(208, 208, 208);
  padding: 35px;
  color: white;
}

#name h2 {
  font-size: 49px;
  margin-bottom: 11px;
}

#name h5 {
  font-size: 23px;
  font-weight: 90;
}

#nav {
  width: 21%;
  position: absolute;
  margin: -23px 37% 0 39%;
  text-align: center;
  background-color: rgb(241, 239, 239);
  border-radius: 5px;
}

#nav a {
  text-decoration: none;
  color: black;
}

#nav h6 {
  display: inline;
  float: left;
  font-size: 19px;
  font-weight: 90;
  padding: 7px;
  width:39.1%;
}

h6:hover{
    background-color: rgb(222, 220, 220);
}

#portfolio{
    margin-top: 25px;
    text-align: center;
}

#portfolio img{
    margin-bottom: 13px;
}

#contact {
  width: 79.5%;
  margin-left: 129px;
  margin-bottom: 17px;
  background-color: #f1f1f1;
  text-align: center;
  padding: 59px 65px 45px 65px;
}

#contact h2 {
  font-size: 25px;
  font-weight: 90;
  margin-bottom: 41px;
}
